<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="display: flex; justify-content: space-between; background-color: #73a1eb;z-index:1">
  <h1 class="navbar-brand" href="", style="color:white;">
  <%= link_to customer_path do %>
  <i class="fa fa-bank" style="font-size:30px;color:#faf5fa"></i>
  <% end %>Bank of Innova</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="Navbar">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" style="color:white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
        My accounts
      </a>
      <ul class="dropdown-menu" style="background-color: #73a1eb; text-align:center; color:white;">


      <% unless @customer.saving_account.present? %>
        <li><a class="dropdown-item"><%= link_to " Open Savings Account", new_customer_saving_account_path(@customer), class:"btn style=background-color: #73a1eb"%></a></li>
      <% else %>
        <li><a class="dropdown-item" style="background-color: #73a1eb;"><%= link_to " My Savings Account", customer_saving_account_path(@customer), class:"btn style=background-color: #73a1eb;color:white;"%></a></li>
      <% end %>

      <li><a class="dropdown-item"  style="background-color: #73a1eb;"><%= link_to "My Fixed Deposits", customer_fixed_deposits_path(@customer), class:"btn style=background-color: #73a1eb;color:white;"%></a></li>
      </ul>
    </li>


      <li class="nav-item active">
        <a>
          <%= link_to "Edit Profile", edit_customer_path, class: "btn style=background-color: #73a1eb; ",style:"color:white;"%>
        </a>
      </li>

      <li class="nav-item active">
        <a>
          <%= link_to "Change password", changepassword_customer_path, class: "btn style=background-color: #73a1eb;",style:"color:white;"%>
        </a>
      </li>

      <li class="nav-item active">
        <button type="button" class="btn style=background-color: #73a1eb;" style="color:white;margin-top:1.5px" data-bs-toggle="modal" data-bs-target="#exampleModal">Check balance</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Current Balance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                      <div class= "container">
                        Saving's Account: <%= @customer.saving_account.account_number%>
                        <br>
                        Your current balance: Rs.<%= @customer.saving_account.total_amount%><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" style="background-color: #73a1eb;" style="color:white;" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>        
          </div>
        </div>        
      </li>

      <li class="nav-item active">
        <a>
          <%= link_to "Sign Out", root_path, class:"btn style=background-color: #73a1eb;", style:"color:white;"%>
        </a>
      </li>

    </ul>
  </div>
  </div>
</nav>

<div class="reg">
<br><br>
  <h3 style="margin-top: 0px;">Edit details</h3><br>

  <%= form_with model: @customer do |form| %>
  
    <label class="required ">Name: 
    <%= form.text_field :name, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>&nbsp;&nbsp;&nbsp;
    </label><br>
    
  
    <label class="required">Contact:
    <%= form.telephone_field :contact, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>&nbsp;&nbsp;&nbsp;
    </label><br>
  
    <label class="required">Branch:
    <%= form.text_field :branch_name, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>
    </label><br>
   

    <label class="required">Address:
    <%= form.text_field :address, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>
    </label><br>
  
    <label class="required">City:
    <%= form.text_field :city, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>
    </label><br>
  
    <label class="required">State:
    <%= form.text_field :state, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>
    </label><br>

    <label class="required">Zip:
    <%= form.number_field :pincode, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>
    </label><br>

    <label class="required">Email:
    <%= form.email_field :email, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>
    </label><br>
  
    <label class="required">Password:
    <%= form.password_field :password, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>
    </label><br>
  
    <label class="required">Confirm Password:
    <%= form.password_field :new_password_confirmation, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;", style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>
    </label><br>
  
    <label class="required">Security Question:
    <%= form.select :security_question , ["What's your first pet name? ", "What's your bestfriend's name? ","What's your favourite sport?  ", "When is your mom's birthday?", "What's your favourite holiday spot?"], :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;"%> 
    </label><br>

    <label class="required">Security Answer:
    <%= form.text_field :security_answer, :required => true, style:"border-radius: 0.375rem;border: 1px solid #ced4da;" %>
    </label><br>

    <div class="submit">
      <%= form.submit "Submit", class:"submit-btn" %>  
        <p>Already have an account? <%= link_to "Login", signin_customer_path %></p>
    </div>
 <% end %> 
</div>

<style>
.reg{
    align:center;
    margin-top:80px;
    border: none;
    /* 0.5px solid black; */
    border-radius: 10px;
    background: white;
    width: 600px;
    height: 13 0vh;
    left: 400px;
    top: 75px;
    text-align: center;
    box-shadow: 0px 0px 10px #73a1eb;
    /* margin-right: auto; */
    margin-left: 400px;
}

.submit{
  text-align: center;
}

.submit-btn{
  background-color: #73a1eb;
  color: #fff;
  padding: 5px 18px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

label.required:before{content:"*";color: red;}

label {
  display: block;
}
</style>


<footer>
  <div class="text-center p-3" style="background-color: #73a1eb; position: relative; bottom: 0px;width: 1381px;">
    <div class="text-center">
    © 2023 Copyright:
    <a class="text-dark" href="https://localhost:3000/">BankOfInnova.com</a>
    </div>
  </div>
</footer>