<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="display: flex; justify-content: space-between; background-color: #73a1eb;z-index:1">
  <h1 class="navbar-brand" href="", style="color:white;">
  <%= link_to customer_path(@customer) do %>
  <i class="fa fa-bank" style="font-size:30px;color:#faf5fa"></i>
  <% end %>Bank of Innova</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="Navbar">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" style="color:white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
        My accounts
      </a>
      <ul class="dropdown-menu" style="background-color: #73a1eb; text-align:center; color:white;">


      <% unless @customer.saving_account.present? %>
        <li><a class="dropdown-item"><%= link_to " Open Savings Account", new_customer_saving_account_path(@customer), class:"btn style=background-color: #73a1eb"%></a></li>
      <% else %>
        <li><a class="dropdown-item" style="background-color: #73a1eb;"><%= link_to " My Savings Account", customer_saving_account_path(@customer), class:"btn style=background-color: #73a1eb;color:white;"%></a></li>
      <% end %>

      <li><a class="dropdown-item"  style="background-color: #73a1eb;"><%= link_to "My Fixed Deposits", customer_fixed_deposits_path(@customer), class:"btn style=background-color: #73a1eb;color:white;"%></a></li>
      </ul>
    </li>


      <li class="nav-item active">
        <a>
          <%= link_to "Edit Profile", edit_customer_path, class: "btn style=background-color: #73a1eb; ",style:"color:white;"%>
        </a>
      </li>

      <li class="nav-item active">
        <a>
          <%= link_to "Change password", changepassword_customer_path, class: "btn style=background-color: #73a1eb;",style:"color:white;"%>
        </a>
      </li>

      <li class="nav-item active">
        <button type="button" class="btn style=background-color: #73a1eb;" style="color:white;margin-top:1.5px" data-bs-toggle="modal" data-bs-target="#exampleModal">Check balance</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Current Balance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                      <div class= "container">
                        Saving's Account: <%= @customer.saving_account.account_number%>
                        <br>
                        Your current balance: Rs.<%= @customer.saving_account.total_amount%><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" style="background-color: #73a1eb;" style="color:white;" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>        
          </div>
        </div>        
      </li>

      <li class="nav-item active">
        <a>
          <%= link_to "Sign Out", root_path, class:"btn style=background-color: #73a1eb;", style:"color:white;"%>
        </a>
      </li>

    </ul>
  </div>
  </div>
</nav>

<div class= "container">
    Saving's Account: <%= @saving_account.account_number%>
    <br>
    Your current balance: Rs.<%= @saving_account.total_amount%><br>
</div>

<style>
    .container{
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    width: 331px;
    height: 151px;
    left: 520px;
    top: 200px;
    padding: 30px;
    position: absolute;
    text-align: center;
    }

    body{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
    }
</style>

<footer>
  <div class="text-center p-3" style="background-color: #73a1eb; position: fixed; bottom: 0px;width: 1400px;">
    <div class="text-center">
    © 2023 Copyright:
    <a class="text-dark" href="https://localhost:3000/">BankOfInnova.com</a>
    </div>
  </div>
</footer>